.hidden {
    display: none;
}

.show {
    display: block;
}

.guess-result {
    display: none;
}

.success {
    background-color: green;
    color: white;
}

.failure {
    background-color: red;
    color: white;
}