@import url(./nav.css);
@import url(./fonts.css);

html, body {
    background-color: #ddd;
    margin: 0;
    height: 100%;
}

/* Main Body */
.content {
    display:flex;
    margin: 4rem 1rem 1rem;
}

.block {
    background-color: white;
    border-radius: 0.5rem;
    margin: 0 1rem;
    overflow: hidden;
    box-shadow: 0.25rem 0.25rem 0.1rem #bbb;
}

.home-bg {
    margin: 0;
    height: 100%;
    width: 100%;
}

.bg-img {
    background-image: url('../img/camping-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.site-title {
    position: relative;
    top:50%;
    transform: translateY(-50%);
    width:100%;
    text-align: center;
}

.site-title img {
    max-width: 512px;
}

.site-title h1 {
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 6rem;
}

.about-author {
    display: flex;
    padding: 15rem 0;
    justify-content: center;
}

.about-image {
    width: 512px;
    animation-duration: 1.25s;
    animation-timing-function: cubic-bezier(0, 0.3, 1, 0.7);
    animation-iteration-count: infinite;
}

@keyframes sway {
    from {
        transform: rotateZ(0deg);
    }
    25% {
        transform: rotateZ(5deg);
    }
    50% {
        transform: rotateZ(0deg);
    }
    75% {
        transform: rotateZ(-5deg);
    }
    to {
        transform: rotateZ(0deg);
    }
}

.about-image img {
    width: 100%;
    border-radius: 50%;
}

.about-image:hover {
    animation-name: sway;
    border-radius:50%;
}

.about-text {
    max-width: 40%;
}

.about-heading {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3rem;
}

.about-excerpt {
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
}

.parallax-banner {
    width: 100%;
    height: 256px;
}

.banner-heading {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3rem;
    color: white;
    position: relative;
    top:50%;
    transform: translateY(-50%);
    width:100%;
    text-align: center;
}

.featured-articles {
    display: grid;
    padding: 5rem;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.featured-article {
    background-color: #e2e2e2;
    margin: 0 1rem 2rem;
    width: 25rem;
    box-shadow: 0 0.25rem 0.1rem 0.25rem #ccc;
    transition: ease-out 0.25s;
    cursor: pointer;
    overflow: hidden;
}

.featured-article:hover {
    background-color: #fff;
    transform: translate(0, -0.5rem);
    box-shadow: 0 0.75rem 0.5rem 0.25rem #ccc;
}

.featured-article img {
    max-width: 100%;
}

.featured-article figcaption {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    margin: 0.5rem;
}

.featured-article p {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    margin: 0.5rem;
}

.section-heading {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
}

.contact-section {
    color: #fff;
    padding: 3rem 5rem;
    display: flex;
    justify-content: space-evenly;
}

.contact-section a {
    color: lightblue;
}

.contact-section form label {
    font-family: 'Nunito', sans-serif;
    font-size: 1.1rem;
    line-height: 2rem;
}

.contact-section form input, textarea {
    font-family: 'Nunito', sans-serif;
    border-style: none;
    border-radius: 5px;
}

.contact-section form input {
    height: 1.5rem;
}

address {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

.contact-title {
    position: absolute;
    top:10%;
    width:100%;
    text-align: center;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 6rem;
}